/********************
YOUR STYLES
*******************/
h1 {
  color: grey;
}
.temp {
  color: pink;
}

.city {
  color: lavender;
}

.state {
  color: skyblue;
}

/*side bar*/
$sidebar-width: 15em;
$sidebar-width-neg: -15em;

.sidr {
    background: lavender;
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: $sidebar-width;
    overflow-x: hidden;
    overflow-y: auto;

    &.right {
        left: auto;
        right: $sidebar-width-neg;
    }

    &.left {
        left: $sidebar-width-neg;
        right: auto;
    }
}


/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}